.amount-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.614);
  margin-bottom: 10px;
  border-radius: 10px;
}
.amount-box {
  display: flex;
  width: 90%;
  flex-direction: row;
  justify-content: space-between;
}

.item-total {
  display: flex;
  width: 90%;
  justify-content: flex-end;
}

.amount-box p,
h3 {
  margin: 5px;
}
