.landing-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.landing-card:hover {
  background-color: #db44440b;
  border: 2px solid #db444422;
  border-radius: 5px;
}

.item-fav-div {
  display: flex;
  margin-top: 5px;
  width: 100%;
  justify-content: space-between;
}

.product-details {
  display: flex;
  width: 90%;
  flex-direction: column;
  align-items: flex-start;
}

.product-name,
.product-price {
  margin: 0;
}

.product-name {
  font-size: 25px;
  font-weight: 300;
}

.product-price {
  font-size: 16px;
  font-weight: 500;
}

.cart-btn {
  height: 40px;
  width: 100px;
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 10px;
  transition: background-color 0.6s ease, color 0.6s ease, border 0.6s ease;
}

.cart-btn:hover {
  background-color: var(--product-red);
  color: white;
  border: none;
}
