.navbar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: white;
}

.navbar {
  width: 90%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}

.navbar-items {
  display: flex;
  justify-content: space-between;
  width: 25%;
}

.logout-btn {
  width: fit-content;
  height: fit-content;
  background-color: white;
  border: none;
  font-size: 16px;
  text-decoration: underline;
  margin-top: 5px;
  cursor: pointer;
}

.navbar-profile-items {
  display: flex;
  justify-content: space-between;
  width: 10%;
}

.admin-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 15px;
  padding: 0px 10px;
  border-radius: 5px;
  text-decoration: none;
  background-color: black;
  color: white;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1300px) {
  .navbar {
    width: 80%;
  }
}
